<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP Projects || AP31</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Goldman&family=Merriweather&family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header class="main-header">
        <nav>
            <h1 id="logo">AP31</h1>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero">
        <h2>Natural Language Processing</h2>
        <h3>End To End Projects</h3>
            <p>By Abhay Parashar</p>

       <a href="#about"> <button>Find Me</button></a>
    </section>
    <section id="projects">
        <div class="projects-title">
            <h2>Projects</h2>
        </div>
        <div class="cards">
            <div class="card">
                <div class="card-icon">
                    <img src="../static/hotel.jpg">
                </div>
                <br>
                <h4>Hotel Reviews Sentiment Analysis</h4>
                
                <p>Analyzing Whether The Review Is Positive or Negative Based
                    on Some Reviews Given By User.
                </p>
                <br>
                <br>
                <div class="card-footer">
                    <hr>
                    
                    <a target="_blank" href="https://github.com/Abhayparashar31"><i class="fa fa-github fa-lg contact-icon"></i></a>
                    <a href="/hotel"><button class="card-btn" type="submit">view</button></a>
                    <a target="_blank" href="https://www.linkedin.com/in/abhay-parashar-328488185/"><i class="fa fa-linkedin fa-lg contact-icon" !important></i></a>    
            
            </div>
            </div>
            <div class="card">
                <div class="card-icon">
                    <img src="../static/spam.jpg">
                </div>
                <h4>Email Spam CLassification</h4>
                <p>Classify Whether a Given Email Is Spam or Not Spam</p>
                <br>
              
                <div class="card-footer">
                    <hr>
                    <a target="_blank" href="https://github.com/Abhayparashar31"><i class="fa fa-github fa-lg contact-icon"></i></a>
                    <a href="/spam"><button class="card-btn" type="submit">view</button></a>
                    <a target="_blank" href="https://www.linkedin.com/in/abhay-parashar-328488185/"><i class="fa fa-linkedin fa-lg contact-icon" !important></i></a>    
            
            </div>
            </div>
            <div class="card">
                <div class="card-icon">
                    <img src="../static/twitter.png">
                </div>
                <br>
                <h4>Twitter Tweets Sentiment Analysis</h4>
                <p>Analyzing Sentiment Of a Person Based On Their Twittes </p>
                <br>
                <br>
                <div class="card-footer">
                    <hr>
                    <a target="_blank" href="https://github.com/Abhayparashar31"><i class="fa fa-github fa-lg contact-icon"></i></a>
                    <a href="/twitter"><button class="card-btn" type="submit">view</button></a>
                    <a target="_blank" href="https://www.linkedin.com/in/abhay-parashar-328488185/"><i class="fa fa-linkedin fa-lg contact-icon" !important></i></a>    
            
            </div>
            </div></div>
            <div class="cards">
            <div class="card">
                <div class="card-icon">
                    <img src="../static/movie.jpg">
                </div>
                <br>
                <h4>Movie Review Analysis</h4>
                <p>Differentiate Whether a Movie Review Is Positive or Negative Based on a Review Given By User.</p>
                <br>
                
                <div class="card-footer">
                    <hr>
                    <a target="_blank" href="https://github.com/Abhayparashar31"><i class="fa fa-github fa-lg contact-icon"></i></a>
                    <a href="/movie"><button class="card-btn" type="submit">view</button></a>
                    <a target="_blank" href="https://www.linkedin.com/in/abhay-parashar-328488185/"><i class="fa fa-linkedin fa-lg contact-icon" !important></i></a>    
            
            </div>
            </div>
            <div class="card">
                <div class="card-icon">
                    <img src="../static/article.png">
                </div>
                <h4>Wikipedia Article Summrization</h4>
                <p>Summrizing Wikipedia Articles Into a small summary using extractive approach.</p>
                <br>
            
                <div class="card-footer">
                    <hr>
                    <a target="_blank" href="https://github.com/Abhayparashar31"><i class="fa fa-github fa-lg contact-icon"></i></a>
                    <a href="/textsummary"><button class="card-btn" type="submit">view</button></a>
                    <a target="_blank" href="https://www.linkedin.com/in/abhay-parashar-328488185/"><i class="fa fa-linkedin fa-lg contact-icon" !important></i></a>    
            
            </div>
            </div>
            <div class="card">
                <div class="card-icon">
                    <img src="../static/stockbg.jpg">
                </div>
                <br>
                <h4>Stock Analysis Based On News Headline</h4>
                <p>Using the Power of AI trying to predict the stock condition for future.</p>
                <br>
                <br>
                <div class="card-footer">
                    <hr>
                    <a target="_blank" href="#"><i class="fa fa-github fa-lg contact-icon"></i></a>
                    <a href="/stock"><button class="card-btn" type="submit">view</button></a>
                    <a target="_blank" href="#"><i class="fa fa-linkedin fa-lg contact-icon" !important></i></a>    
            
            </div>
            </div>
        </div>
          
    </section>
<section id="about">
    <div class="sidebar">
        <h1>ABOUT<span>ME</span></h1>
    </div>
    <div class="about">
        <div class="profile">
            <img src="../static/profile1.jpeg">
            <div class="content">
            <h2>Abhay Kumar Parashar</h2>
            <h6>अभय कुमार पाराशर</h6>
        </div>
        </div>
        <div class="profileinfo">

            <p>A Machine Learning Enthusiast Who Is Looking Forward To Building a Carrer In the Field of Artificial Intelligence. Having Good Understanding and Working
                Experience in Python Programming, Machine Learning, Computer Vision, NLP, Web Scraping, Selenium Automation, Time Series, Data Science.
                and Numpy, Pandas, Matplotlib, Seaborn, OpenCV, SQL, Flask, C, C++, Html, CSS, Bootstrap.
                Developed around 6 End To End Projects and Worked Over 20+ datasets from different domains.
                Have a Positive attitude,hard working nature and committed towards work.
            </p>
            <p>
                <a class="icona" href="https://github.com/Abhayparashar31"><i class="fa icon fa-lg fa-github"></i></a>
                <a class="icona" href="https://www.linkedin.com/in/abhay-parashar-328488185/"> <i class="fa icon fa-lg fa-linkedin"></i> </a>
                <a class="icona" href="https://parasharabhay13.medium.com/">  <i class="fa icon fa-lg fa-medium"></i></a>
                <a class="icona" href="mailto:parasharabhay13@gmail.com"> 
                    <i class="fa icon fa-lg fa-google"></i></a>
                <a class="icona" href="https://twitter.com/parasharabhay"> <i class="fa icon fa-lg fa-twitter"></i> </a>
                <a class="icona" href="https://www.instagram.com/parasharabhay/?hl=en">        
                    <i class="fa icon fa-instagram"></i> </a>
                <a class="icona" href="https://www.facebook.com/parashar.abhay.7">       
                    <i class="fa icon fa-lg fa-facebook"></i> </a>
   
            </p>

        </div>
    </div>
</section>

<div class="footer">
    <br><br>
    <h2>Copyright 2020 © Abhay parashar</h2>
</div>
</body>
</html>
